//variables

$blue: #1c84c6!default;
$white:#ffffff !default;
$dark:#2f4050 !default;
$blue-primary: #1af0e9!default;
$gray-dark:#314152!default;
$gray-ligth:hsl(240, 4%, 95%) !default;
$gray-ligth2:#cecdcd!default;
$gray1:#707070!default;
$gray2:#708096!default;
$green:#2ecc71!default;
$black:#212529!default;


// $body-m: 1170px;
$body-max-width: 1170px;
$control-width:100%;

$iconsColor: (color: white);
$radius: 50px;
