//variables

$blue: #1c84c6!default;
$white:#ffffff !default;
$dark:#2f4050 !default;
$blue-primary: #1af0e9!default;
$dark-ligth:#f3f3f4 !default;


// $body-m: 1170px;
$body-max-width: 1170px;
$control-width:100%;

$iconsColor: (color: white);
$radius: 50px;
$padding-next:5px 10px 5px 30px;
$padding-back:5px 51px 5px 14px;
