#headboard-page {
  margin: 0;
   box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
  z-index: 2001;
  position: absolute;
  width: $control-width;

  .white-bg {
    background-color: $white;
  }
  .page-heading {
    .breadcrumbb {
      display: flex;
      flex-wrap: wrap;
      padding: 0.17rem 1rem;
      margin-bottom: 0.5em;
      list-style: none;
      border-radius: $radius;
      font-size: 0.8em;
      li {
        color: $gray1;
        margin-top: 8px;

        a {
          color: $gray1;
          text-decoration: none;
        }
      }
    }
  }
}
