<div id="dashboard" class="p-4 mt-5">
    <div class="row pb-4">
        <div class="header col-lg-12">

            <!-- BEGIN TITLE-->
            <h3 class="page-title  d-inline">{{title}}
                <small>{{subtitle}}</small>
            </h3>
            <!-- END TITLE-->
            <!-- BEGIN  BUTTON-->
            <button class="btn btn-info d-inline float-right" type="button" data-toggle="modal"
                data-target="#dashboardModal"><i class="fa fa-plus"></i>&nbsp;&nbsp;<span
                    class="bold">Nuevo</span></button>
            <!-- END BUTTON-->

        </div>
    </div>

    <!-- BEGIN DASHBOARD-->

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" *ngFor="let item of listCards;let index = index;">
            <div class="dashboard-stat" [ngStyle]="{'background-color': item.colorCard }">
                <div class=" px-2">
                    <div class="visual">
                        <i [class]="item.icon"></i>
                    </div>
                    <div class="details">
                        <div class="number py-3">
                            <span data-counter="counterup" data-value="150">{{item.count}}</span>
                        </div>
                        <div class="desc">{{item.desc}} </div>
                    </div>
                </div>
                <a class="more" [routerLink]="" [ngStyle]="{'background-color': item.moreColor}">{{item.more}}
                    <i [class]="item.arrow"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- END DASHBOARD STATS 1-->



    <!-- Modal -->
    <div class="modal fade mt-3" id="dashboardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Datos en Dashboard</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form #formAddDashboard="ngForm" [formGroup]="dashboardForm" (ngSubmit)="dasboard()">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="ibox-content">
                                <div class="">
                                    <div class="row ">
                                        <div class="col-sm-12 mb-3">
                                            <label>Cantidad de nuevas compras</label>
                                            <input [(ngModel)]="cantidadCompras"  class="form-control" name="cantidadCompras" type="text"
                                                placeholder="Nuevas compras" formControlName="cantidadCompras"
                                                autocomplete="off">
                                        </div>
                                        <div class="col-sm-12 mb-3">
                                            <label>Incremento de Compras</label>
                                            <input [(ngModel)]="incrementoCompras"  class="form-control" name="incrementoCompras" type="text"
                                                placeholder="%Incremento de Compras" formControlName="incrementoCompras"
                                                autocomplete="off">
                                        </div>
                                        <div class="col-sm-12 mb-3">
                                            <label>Cantidad de nuevos Usuarios</label>
                                            <input [(ngModel)]="cantidadNuevosUsuarios"  class="form-control" name="cantidadNuevosUsuarios" type="text"
                                                placeholder="Nuevos Usuarios" formControlName="cantidadNuevosUsuarios"
                                                autocomplete="off">
                                        </div>
                                        <div class="col-sm-12 mb-3">
                                            <label>Cantidad de Nuevas Visitas</label>
                                            <input [(ngModel)]="cantidadNuevasVisitas"  class="form-control" name="cantidadNuevasVisitas" type="text"
                                                placeholder="Nuevas Visitas" formControlName="cantidadNuevasVisitas"
                                                autocomplete="off">
                                        </div>
                                        <div class="col-sm-12 mb-3">
                                            <!-- <label>Fecha</label>
                                        <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                                            <input type="text" class="form-control" readonly="" name="datepicker">
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div> -->
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-primary" (click)="dashboard()">Ingresar Datos</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>