/* WRAPPERS */
#wrapper {
  width: $control-width;
  overflow-x: hidden;
}
.wrapper {
  padding: 0 20px;
}
.wrapper-content {
  padding: 20px 10px 40px;
}

#page-wrapper {
  display: inline-block !important;
  vertical-align: middle !important;
  width: 80% !important;
  position: absolute;
  min-height: 800px!important;

}

@media (min-width: 768px) {
}

/* BACKGROUNDS */
.gray-bg,
.bg-muted {
  background-color: $gray-ligth;
}
